.backgr{
    background-image: url('./imgs/fbc5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.contview
{
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    background-color: rgba(80, 75, 75,0.2);
    width: fit-content;
    margin-left: 400px;
}

.adcontent h2
{
    margin-left: 250px;
}


.contview th
{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
.contview td
{
    padding-left: 50px;
    /* padding-right: 50px; */
}

.butsep button
{
    justify-content: space-between;
    background-color: rgba(80, 75, 75,0.2);

}

.new button{
    background-color: rgba(80, 75, 75,0.2);

}

.adcontent
{
    padding-bottom: 30px;
}